<div class="container" [ngStyle]="{'background-image': 'url(assets/login-img-1.png)'}">
  <div class="login-container">
    <div class="login-box">
      <form (ngSubmit)="login()">
        <label for="email">Email :</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="userData.email"
          name="email"
          placeholder="Enter your email"
          required
        />

        <!-- Dynamically show additional fields if the user is registering -->
        <div *ngIf="isRegistering">
          <label for="fullname">Full Name:</label>
          <input
            type="text"
            id="fullname"
            [(ngModel)]="userData.fullname"
            name="fullname"
            placeholder="Enter your full name"
            required
          />

          <label for="phone">Phone Number:</label>
          <input
            type="text"
            id="phone"
            [(ngModel)]="userData.phone"
            name="phone"
            placeholder="Enter your phone number"
            required
          />
        </div>

        <button type="submit">{{ isRegistering ? 'Register' : 'Login' }}</button>
      </form>

      <!-- Display error message if login fails -->
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
