<div class="container" [ngStyle]="{'background-image': 'url(assets/images/login-img-1.png)'}">
    <div class="overlay">
      <div class="content">
        <h1>SELAMAT DATANG, HI STAFF 2</h1>
        <p>KAUNTER CAWANGAN DAN ZOW</p>
        <div class="logos">
          <img src="assets/images/zakat-logo.png" alt="Logo 1">
          <img src="assets/images/czo-logo.png" alt="Logo 2">
        </div>
        <button class="btn" (click)="redirectAD()">Log Masuk</button>
      </div>
    </div>
  </div>
  