<div class="search-container">
    <h3>Kutipan</h3>
    <div class="search-options">
      <button *ngFor="let option of searchOptions" [class.selected]="selectedOption === option" (click)="selectOption(option)">{{ option }}</button>
    </div>
  
    <div class="search-input">
      <input id="name" type="text" placeholder="Cari {{ selectedOption }}..." [(ngModel)]="searchData.search" (input)="onInputChange($event)" />
      <button (click)="onSearch()">Cari</button>
      <button (click)="onRegister()" class="btn-daftar">Daftar</button>
    </div>
  </div>
  